<div><a href="/" class="home-button">Plant Shop</a>
    <a class="login-button" href="/login">Login</a>
     <a class="register-button" href="/register">Register</a>
     <a class="logout-button" href="/logout">Log out</a></div>
<nav class="body-page">