<<<<<<< HEAD
<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
<div class="home-box"><a href="/" class="home-button">Plant Shop</a>
    <a class="login-button" href="/login">Login </a>
     <a class="register-button" href="/register">Register </a>
     <a class="logout-button" href="/logout">Log out</a></div>
<div class="nav-bar">
<a class="nav-box" href="/plants">Potted plants</a>
<a class="nav-box" href="/cactuses"> Cactuses</a>
<a class="nav-box" href="/tulips"> Tulips</a>
<a class="nav-box" href="/bouquets"> Bouquets</a>
<a class="nav-box" href="/vases"> Vases & Pots</a>
</div>
=======
<div><a href="/" class="home-button">Plant Shop</a>
    <a class="login-button" href="/login">Login</a>
     <a class="register-button" href="/register">Register</a>
     <a class="logout-button" href="/logout">Log out</a></div>
<nav class="body-page">
>>>>>>> 48051cd409326144f11d975b33dee7d162a60f69
