<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
<div class="home-box"><a href="/" class="home-button">Plant Shop</a>
        <%if (token == undefined) {%>        
                <a class="login-button" href="/login">Login </a>
                <a class="register-button" href="/register">Register </a>  
        <%} else { %>
                <a class="wishlist-button" href="/wishlist"> wishlist </a>
                <a class="logout-button" href="/logout">Log out</a></div>
        <%}%>
  
<div class="nav-bar">
<a class="nav-box" href="/plants">Potted plants</a>
<a class="nav-box" href="/cactuses"> Cactuses</a>
<a class="nav-box" href="/tulips"> Tulips</a>
<a class="nav-box" href="/bouquets"> Bouquets</a>
<a class="nav-box" href="/vases"> Vases & Pots</a>
</div>
