<nav>
    <a href="/">Home</a>
    <a href="/plant">Plants</a>
    <a href="/cactus"> Cactuses</a>
    <a href="/tulip"> Tulips</a>
    <a href="/bouquet"> Bouquets</a>
    <a href="/vase"> Vases & Pots</a>
</nav>