<nav>
    <a href="/">Home</a>
    <a href="/plants">Plants</a>
    <a href="/cactuses"> Cactuses</a>
    <a href="/tulips"> Tulips</a>
    <a href="/bouquets"> Bouquets</a>
    <a href="/vases"> Vases & Pots</a>
</nav>

<nav>
<a href="/login">Login</a>
<a href="/register">Register</a>

</nav>