<% for(let i = 0; i < shoppingCart.length; i++){%>
    <p><%=shoppingCart[i].productId.name%></p>
    <p><%=shoppingCart[i].quantity%></p>
    <a href="/delete/<%=shoppingCart[i]._id%>">delete</a>
<%}%> 