<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <title>Document</title>
    <script type="text/javscript" src="../clientside.js"></script>
</head>
<body>
    <%- include("partials/_category.ejs") %>
 <nav class="body-page">
     <div class="category-box plant-box"><div class="category-button-box"><a href="/plants" class="category-button">Potted plants</a></div></div>
     <div class="category-box cactuses-box"><div class="category-button-box"><a href="/cactuses" class="category-button"> Cactuses</a></div></div>
     <div class="category-box tulips-box"><div class="category-button-box"><a href="/tulips" class="category-button"> Tulips</a></div></div>
     <div class="category-box bouquets-box"><div class="category-button-box"><a href="/bouquets" class="category-button"> Bouquets</a></div></div>
     <div class="category-box vases-box"><div class="category-button-box"><a href="/vases" class="category-button"> Vases & Pots</a></div></div>

    
    
 </nav>

</body>
</html>