<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link href="/css/main.css" rel="stylesheet" />
    <script src="https://js.stripe.com/v3/"></script>

</head>
<body>
    <div id="payment-container">
       <button></button>
        </div>
</body>
</html>

<script>

    var stripe = Stripe('pk_test_51ILqTtBE1mfx14b2vz8NAsWUEu0RMHcMroYSBdQxsx1tGUeAASOSxeDtRvvmPYBIxkLJZGO6YYc4GQNi7iGjs3F000r2mpZOEl');
    
    document.querySelector("button").addEventListener( "click", ()=>{
        stripe.redirectToCheckout({ sessionId: "<%=sessionId %>" });
    })
    
    
    </script>