<%if(error!=""){%> <%- include("partials/_error.ejs") %> <%}%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset</title>
    <link
      href="https://fonts.googleapis.com/css?family=Great Vibes"
      rel="stylesheet"
    />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="user-handling-bkg">
      <div class="user-handling-container">
        <div class="user-handling-banner">
          <h1>The Bloom Room</h1>
        </div>
        <form action="/resetPasswordForm" method="post">
          <input
            type="password"
            name="password"
            id=""
            placeholder="New password"
          />
          <input type="email" name="email" value="<%= email %>" hidden />

          <button type="submit">Reset Password</button>
        </form>
      </div>
    </div>
  </body>
</html>
