<%if(error!=""){%>
    <%- include("partials/_error.ejs") %>
<%}%>

<form action="/resetPasswordForm" method="post">

    <input type="password" name="password" id="" placeholder="New password">
    <input type="email" name="email" value="<%= email %>" hidden >
    
    <button type="submit">Reset Password</button>

</form>