<%if(error!=""){%>
    <%- include("partials/_error.ejs") %>
<%}%>

<form action="/reset" method="post">
    <input type="email" name="email" id="" placeholder="E-mail">
    <button type="submit">Send link</button>    
</form>