<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success!</title>
    <link
      href="https://fonts.googleapis.com/css?family=Great Vibes"
      rel="stylesheet"
    />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="user-handling-bkg">
      <div class="user-handling-container">
        <header class="user-handling-banner">
          <h1>Success!</h1>
        </header>
        <h2>Your order has been sent!</h2>
        <p>
          A receipt has been sent to your registered email, you will now be
          redirected...
        </p>
        <ul></ul>
        <div class="user-handling-error-box"></div>
      </div>
    </div>
  </body>
</html>

<script>
  setTimeout(() => {
    document.location.href = "/";
  }, 2000);
</script>
