@import "./imports";

#login-bkg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
  url("../img/Bakgrund/jungle-plants.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  #login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    #banner {
      background-image: url("../img/Bakgrund/background-image.jpeg");
      width: 100%;
      text-align: center;
      margin: 40px 0 10px 0;
      h1 {
        font-family: Great Vibes;
        font-size: 4rem;
        margin: 20px 0 10px 0;
      }
    }
    #login-error-box {
      width: auto;
      height: 40px;
    }
    form {
      display: flex;
      flex-direction: column;
    }
  }
}