@import './variables';

@mixin nav-bar-mixin {
    .nav-bar {
    background-color: black;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.6;
}


.nav-box{
    word-spacing: 5px;
    margin: 30px;
    text-decoration: $clean;
    color: whitesmoke;
    font-family: Optima, sans-serif;
    font-size: 20px;
}   
}