@import './variables';
@import './navbar';
@import './mixins';

.product-page-wrapper {
    background-image: url('../img/Bakgrund/background-image.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    overflow: hidden;
    width: 100%;

    @include nav-bar-mixin;

    .sort-container {
        display: flex;
        justify-content: flex-end;
        padding: 0 7%;
        padding-bottom: 5vh;
        
        a {
            font-size: smaller;
            display: flex;
            justify-content: center;
            padding: 5px;
            margin: 5px;
            width: 80px;
            text-decoration: none;
            text-align: center;
            color: white;
            letter-spacing: 2px;
            box-shadow: 2px 2px 2px  rgb(136, 136, 136);
            background-color: rgb(179, 179, 179);
            transition: 0.2s ease-in;

            &:hover {
                color: rgb(104, 104, 104);
            }
            &:active {
                background-color: rgb(83, 83, 83);
                box-shadow: 1px 1px 1px  rgb(68, 68, 68);
            }  
        }
    }
    .product-list-container {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        width: 90%;
        padding: 0 3%;
        
        .product-container {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 200px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;

/*             &:last-child,
            &:nth-last-child(2):nth-child(odd){
                background-color: green;
            } */
    
            a {
                text-decoration: none;
                color: black;
    
                .image-container {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
        
                    img {
                        position: absolute;
                        top:      0;
                        left:     0;
                        bottom:   0;
                        right:    0;
        
                        object-fit: cover;
                        width: 100%;
                        min-height: 100%;
                    }
                }
                .image-container:before {
                    content:     "";
                    display:     block;
                    padding-top: 120%;
                }
        
                .product-info-container {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

        
                    h3 {
                        color: rgba(0, 0, 0, 0.667);
                    }
        
                    .product-price {
                       color: rgba(0, 0, 0, 0.456);
                    }
                }
            }
        }
    }

    .pagination-container{
        display: flex;
        justify-content: center;
        width: 100%;
        
        a {
            color: black;
        }
    }

    .no-products-div {
        text-align: center;
        padding-top: 20vh;

        p {
            font-size: xx-large;
            color: rgb(104, 104, 104);
        }

        a {
            color: rgb(104, 104, 104);
        }
    }
}

@media screen and (min-width: 1024px) {
    .product-page-wrapper {
        background-image: url('../img/Bakgrund/background-image.jpeg');
        background-size: cover;
        display: flex;
        flex-direction: column;
    
        min-height: 100vh;
        overflow: hidden;
        width: 100%;
    
            @include nav-bar-mixin;
    
        .sort-container {
            display: flex;
            justify-content: flex-end;
            padding: 0 7%;
            padding-bottom: 5vh;
            
            a {
                font-size: smaller;
                display: flex;
                justify-content: center;
                padding: 5px;
                margin: 5px;
                width: 80px;
                text-decoration: none;
                text-align: center;
                color: white;
                letter-spacing: 2px;
                box-shadow: 2px 2px 2px  rgb(136, 136, 136);
                background-color: rgb(179, 179, 179);
                transition: 0.2s ease-in;
    
                &:hover {
                    color: rgb(104, 104, 104);
                }
                &:active {
                    background-color: rgb(83, 83, 83);
                    box-shadow: 1px 1px 1px  rgb(68, 68, 68);
                }  
            }
        }
        .product-list-container {
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            width: 90%;
            padding: 0 7%;
            
            .product-container {
                display: flex;
                flex-direction: column;
                width: 45%;
                max-width: 165px;
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: auto;
    
    /*             &:last-child,
                &:nth-last-child(2):nth-child(odd){
                    background-color: green;
                } */
        
                a {
                    text-decoration: none;
                    color: black;
        
                    .image-container {
                        position: relative;
                        width: 100%;
                        overflow: hidden;
            
                        img {
                            position: absolute;
                            top:      0;
                            left:     0;
                            bottom:   0;
                            right:    0;
            
                            object-fit: cover;
                            width: 100%;
                            min-height: 100%;
                        }
                    }
                    .image-container:before {
                        content:     "";
                        display:     block;
                        padding-top: 120%;
                    }
            
                    .product-info-container {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
    
            
                        h3 {
                            color: rgba(0, 0, 0, 0.667);
                        }
            
                        .product-price {
                           color: rgba(0, 0, 0, 0.456);
                        }
                    }
                }
            }
        }
    
        .pagination-container{
            display: flex;
            justify-content: center;
            width: 100%;
            
            a {
                color: black;
            }
        }
    
        .no-products-div {
            text-align: center;
            padding-top: 20vh;
    
            p {
                font-size: xx-large;
                color: rgb(104, 104, 104);
            }
    
            a {
                color: rgb(104, 104, 104);
            }
        }
    } 
}

@media screen and (min-width: 768px) {
    .product-list-container {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        width: 90%;
        padding: 0 7%;
        
        .product-container {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 165px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            background-color: blue;


/*             &:last-child,
            &:nth-last-child(2):nth-child(odd){
                background-color: green;
            } */
    
            a {
                text-decoration: none;
                color: black;
    
                .image-container {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
        
                    img {
                        position: absolute;
                        top:      0;
                        left:     0;
                        bottom:   0;
                        right:    0;
        
                        object-fit: cover;
                        width: 100%;
                        min-height: 100%;
                    }
                }
                .image-container:before {
                    content:     "";
                    display:     block;
                    padding-top: 120%;
                }
        
                .product-info-container {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

        
                    h3 {
                        color: rgba(0, 0, 0, 0.667);
                    }
        
                    .product-price {
                       color: rgba(0, 0, 0, 0.456);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .product-list-container {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        width: 90%;
        padding: 0 7%;
        
        .product-container {
            display: flex;
            flex-direction: column;
            width: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            background-color: red;


/*             &:last-child,
            &:nth-last-child(2):nth-child(odd){
                background-color: green;
            } */
    
            a {
                text-decoration: none;
                color: black;
    
                .image-container {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
        
                    img {
                        position: absolute;
                        top:      0;
                        left:     0;
                        bottom:   0;
                        right:    0;
        
                        object-fit: cover;
                        width: 100%;
                        min-height: 100%;
                    }
                }
                .image-container:before {
                    content:     "";
                    display:     block;
                    padding-top: 120%;
                }
        
                .product-info-container {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

        
                    h3 {
                        color: rgba(0, 0, 0, 0.667);
                    }
        
                    .product-price {
                       color: rgba(0, 0, 0, 0.456);
                    }
                }
            }
        }
    }
} 

