@import './variables';


.category-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: wheat;
    padding: 2rem 0;
    
    .product-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-bottom: 10px;
        line-height: 0,5;

        a {
            text-decoration: none;
            color: black;

            .image-container {
                position: relative;
                width: 100%;
                overflow: hidden;
    
                img {
                    position: absolute;
                    top:      0;
                    left:     0;
                    bottom:   0;
                    right:    0;
    
                    object-fit: cover;
                    width: 100%;
                    min-height: 100%;
                }
            }
            .image-container:before {
                content:     "";
                display:     block;
                padding-top: 120%;
            }
    
            .product-info-container {
                display: flex;
                flex-direction: column;
    
                h3 {
                    //color: rgba(0, 0, 0, 0.667);
                }
    
                .product-price {
                   //color: rgba(0, 0, 0, 0.456);
                }
            }
        }
    }
}

.no-products-header {
    background-color: aqua;
}




/* .product-price {
    color: red;
    display: none;
}

&:hover {
    .product-price {
        display: block;
    }
} */